@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

body {
    background-color: black;
}

.ScreenWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 3684px;
    width: 1280px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.Navigation-Container {
    width: 100%;
    height: 2.2%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #001D5D;
    font-family: 'Karla', sans-serif;
    background-color: #FFF;
}

.Navigation-Img {
    margin-right: 4px;
    align-self: center;
}

.Navigation-Items {
    display: flex;
    align-items: baseline;
}

.Sign-Up {
    background-color: #D9F0D0;
    font-family: 'Karla', sans-serif;
    color: #68C242;
    border: none;
    padding: 15px 40px;
}

.AMParadox-Container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: stretch;
}

.AMParadoxImg {
    width: 100%;
    max-height: 600px;
    object-position: 50% 0%;
    object-fit: cover;
    overflow: hidden;
}

.ParadoxText {
    position: absolute;
    top: 50%;
    left: 32%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Karla', sans-serif;
    margin-right: 300px;
    flex-direction: row;

}

.AMParadox-Btn {
    padding-top: 1%;
    justify-content: space-around;
    flex-direction: row;
    border: none;
    background-color: #68C242;
    color: white;
    font-family: 'Karla', sans-serif;
}

.BrentFaiyaz-Container {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FFF;
    padding-left: 0px;
    padding-right: 0px;
    font-family: 'Karla', sans-serif;
    color:#525252;
}

.BrentFaiyaz-Img {
    /* original dimensions: 666 x 456 */
    width: 40%;
    height: auto;
    object-fit: cover;
    align-self: center;
    padding-left: 40px;
    padding-right: 40px;
}

.BrentFaiyaz-Text {
    margin-right: 150px;
    align-items: baseline;
}

.Header1 {
    color: #001D5D;
    font-family: 'Karla', sans-serif;
}

.Learn-More-Btn {
    background-color: #D9F0D0;
    font-family: 'Karla', sans-serif;
    color: #68C242;
    border: none;
    padding: 15px 40px;
}

.NewReleases-Container {
    width: 100%;
    height: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6;
    padding-left: 0px;
    padding-right: 0px;
    font-family: 'Karla', sans-serif;
    color:#525252;
}

.NewRelease-Text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30%;
    padding-right: 30%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.Slideshow-Container {
    display: flex;
    /* align-items: center; */
}

.Slideshow-Cards {
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 255px;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.Trapsoul-Img {
    display: flex;
    align-self: center;
    width: 140px;
    height: 140px;
    background-color: #f6f6f6;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 52px;
    padding-bottom: 63px;
}

.Subheader {
    color: #68C242;
    font-family: 'Karla', sans-serif;
}

.Trapsoul-Text {
    display: flex;
    flex-direction: column;
    /* text-align: left; */
    align-items: left;
    font-family: 'Karla', sans-serif;
    color:#525252;
    margin-left: 18px;
    margin-right: 18px;
}

.Group-Btns {
    display: flex;
    padding-top: 70px;
    padding-bottom: 70px;
    align-self: center;
}

.Trapsoul-Btn {
    display: flex;
    justify-content: space-around;
    border: none;
    background-color: #f6f6f6;
}

.Map-Container {
    justify-content: center;
    align-items: stretch;
    display: flex;
    background-color: #FFF;
}

.GetInTouch-Container {
    width: 100%;
    height: 972px;
    background-color: #FFF;
    display: flex;
}

.GetInTouch-Form {
    display: flex;
    justify-content: space-around;
    /* flex-direction: column; */
}

.GetInTouch-Text {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: left;
    font-family: 'Karla', sans-serif;
    color:#525252;
    margin-left: 60px;
    margin-right: 60%;
    margin-top: 5%;
}

.GetInTouch-Img {
    height: 80%;
    width: 100%;
    /* justify-content: flex-end; */
}

.EndNavigation-Container {
    width: 100%;
    height: 12%;
    /* align-items: flex-start; */
    background-color: #001D5D;
    padding-top: 5%;
}

.WhiteSRLogo {
    width: 93px;
    height: 35px;
    padding-top: 2%;
    flex-direction: column;
    font-family: 'Karla', sans-serif;
    color:#FFF;
}

.EndNavigation-Text {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Karla', sans-serif;
    color:#FFF;
    padding-bottom: 3%;
}

.Explore, .Music, .Artists, .Records, .Concerts, .PrivacyPolicy, .Terms-Conditions {
    font-family: 'Karla', sans-serif;
    color:#FFF;
}

.GeneralLinks {
    font-family: 'Karla', sans-serif;
    color: #b8b8b8;
}

hr.DecorativeLine {
    border-top: 1px solid #f6f6f6;
}